html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

li.nav-link{
    margin:1px;
    padding:1px;
}

#footer-main {
    background: #fff;
    color: #000000;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
